body {
  font-family: Arial, sans-serif;
  background-color: #a6c9e0;
  padding: 10px;
  margin: 0;
}

#task-manager {
  background: #fff;
  padding: 20px;
  margin: auto;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#task-input {
  padding: 10px;
  width: 70%;
  margin-right: 10px;
}

#task-list li {
  background: #72efff52;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}
#task-list {
  list-style-type: none;
  padding: 0;
}

button {
  background-color: #2563eb;
  color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.15s ease, color 0.15s ease;
}
button:hover {
  background-color: #163392d8;
}


/* Dark theme styles 
body.dark-theme {
  background-color: #333;
  color: #fff;
}

.dark-theme #task-manager {
  background: #222;
  color: #fff;
}

.dark-theme #task-list li {
  background: #444;
}
*/